luel2.duckdns.org {
    tls /etc/letsencrypt/live/luel2.duckdns.org/fullchain.pem /etc/letsencrypt/live/luel2.duckdns.org/privkey.pem

    route /portainer/* {
        uri strip_prefix /portainer
        reverse_proxy portainer:9000
    }

    route /netdata/* {
        uri strip_prefix /netdata
        reverse_proxy 172.23.0.2:19999
    }

    route /gitea/* {
        uri strip_prefix /gitea
        reverse_proxy 172.21.0.3:3000
    }
}

